body .bgcolor-orange-ephec.enable-extension{
    background-color: #ed7520 !important;
}

body #heinscriptionsub li a.enable-extension,body #hehorairesub li a.enable-extension, body #hejuabs li a.enable-extension, body #hesarsub li a.enable-extension, body #hecososub li a.enable-extension{
    background-color: #1d5263;
}

#sidebar a.enable-extension, body #sidebar.enable-extension{
    background-color: #013647;
}

.logo-ephec-eperso{
    height: auto;
    width: auto;
    max-height: 41px;
    max-width: 243px;
}

