/*.profil[b-p2i6fi6whn]{
    background-color: #F47A20 !important;
}

div .bg-primary[b-p2i6fi6whn]{
    background-color: #F47A20 !important;
}
*/
.img-logo{
    max-width: 115px;
    max-height: 52px;
}